$standard-border: black solid 3px;
$page-minwidth: 445px;
$standard-spacing: 1rem;

* {
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    box-sizing: border-box;
}

.alert {
    text-align: center;
    color: red;
    position: absolute;
    margin: $standard-spacing auto;
    width: 100%;
}

body {
    padding: $standard-spacing;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    #header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: $standard-spacing;
        border-bottom: $standard-border;
        min-width: $page-minwidth;

        h1 {
            margin: 0;
        }
    }

    .button-wrap {
        display: flex;
        justify-content: space-between;

        button {
            border: $standard-border;
            background-color: white;
            margin: 0 $standard-spacing;
            box-shadow: 3px 3px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    #product-list_container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        min-width: $page-minwidth;
        max-width: 1400px;
        margin: 0 auto;

        .product-list_item {
            border: $standard-border; 
            margin: $standard-spacing; 
            padding: $standard-spacing;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            min-height: 200px;

            .delete-checkbox {
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .product-list_text {
                text-align: center;
            }
        }
    }

    #formContainer {

        #product_form {
            display: flex;
            flex-direction: column;
            margin: 3rem auto 0 auto;
            flex-grow: 1;
            width: 393px;
            
            .formGroup,
            .selectGroup {
                margin: $standard-spacing;
                display: flex;
                justify-content: space-between;
    
            }
            .selectGroup {
                justify-content: space-around;
            }
            
            input {
                border: $standard-border;
                width: 300px;
            }
            
            select#productType {
                border: $standard-border;
                background-color: white;
            }

            .sizeWrap,
            .weightWrap,
            .dimensionWrap {
                display: grid;
                grid-template-columns: 1fr 300px;
                align-items: center;

                #size, 
                #weight {
                    justify-self: flex-end;
                }

                .labelInputWrap {
                    grid-column: 1/3;
                }

                .instruction {
                    grid-column: 2/3;
                }
            }

            .dimensionWrap {
                margin: $standard-spacing;

                input {
                    margin: 0.5rem 0;
                }
            }
        }
    }
    footer {
        border-top: $standard-border;
        text-align: center;
        margin-top: auto;
    }

    @media(min-width: 750px){
        #product-list_container {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    @media(min-width: 1085px){
        #product-list_container {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

