* {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  box-sizing: border-box; }

.alert {
  text-align: center;
  color: red;
  position: absolute;
  margin: 1rem auto;
  width: 100%; }

body {
  padding: 1rem; }
  body #header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: black solid 3px;
    min-width: 445px;
    margin: auto; }
    body #header h1 {
      margin: 0; }
  body .button-wrap {
    display: flex;
    justify-content: space-between; }
    body .button-wrap button {
      border: black solid 3px;
      background-color: white;
      margin: 0 1rem;
      box-shadow: 3px 3px; }
      body .button-wrap button:hover {
        cursor: pointer; }
  body #product-list_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-width: 445px;
    max-width: 1400px;
    margin: auto; }
    body #product-list_container .product-list_item {
      border: solid black 3px;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      min-height: 200px; }
      body #product-list_container .product-list_item .delete-checkbox {
        position: absolute;
        top: 10px;
        left: 10px; }
      body #product-list_container .product-list_item .product-list_text {
        text-align: center; }
  @media (min-width: 750px) {
    body #product-list_container {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }
  @media (min-width: 1085px) {
    body #product-list_container {
      grid-template-columns: repeat(4, minmax(0, 1fr)); } }
  body #formContainer #product_form {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0 auto;
    flex-grow: 1;
    width: 393px; }
    body #formContainer #product_form .formGroup,
    body #formContainer #product_form .selectGroup {
      margin: 1rem;
      display: flex;
      justify-content: space-between; }
    body #formContainer #product_form .selectGroup {
      justify-content: space-around; }
    body #formContainer #product_form input {
      border: black solid 3px;
      width: 300px; }
    body #formContainer #product_form select#productType {
      border: black 3px solid;
      background-color: white; }
    body #formContainer #product_form .sizeWrap,
    body #formContainer #product_form .weightWrap,
    body #formContainer #product_form .dimensionWrap {
      display: grid;
      grid-template-columns: 1fr 300px;
      align-items: center; }
      body #formContainer #product_form .sizeWrap #size,
      body #formContainer #product_form .sizeWrap #weight,
      body #formContainer #product_form .weightWrap #size,
      body #formContainer #product_form .weightWrap #weight,
      body #formContainer #product_form .dimensionWrap #size,
      body #formContainer #product_form .dimensionWrap #weight {
        justify-self: flex-end; }
      body #formContainer #product_form .sizeWrap .labelInputWrap,
      body #formContainer #product_form .weightWrap .labelInputWrap,
      body #formContainer #product_form .dimensionWrap .labelInputWrap {
        grid-column: 1/3; }
      body #formContainer #product_form .sizeWrap .instruction,
      body #formContainer #product_form .weightWrap .instruction,
      body #formContainer #product_form .dimensionWrap .instruction {
        grid-column: 2/3; }
    body #formContainer #product_form .dimensionWrap {
      margin: 1rem; }
      body #formContainer #product_form .dimensionWrap input {
        margin: 0.5rem 0; }

/*# sourceMappingURL=styles.css.map */
